# connection strings
CONNECTIONSTRINGS__REDISCONNECTION="localhost:6379"
CONNECTIONSTRINGS__DBCONNECTION="Data Source=localhost,1435;Initial Catalog=ChatDB;User Id=sa;Password=SecretPassword161;TrustServerCertificate=True"

# common
COMMON__SECRETKEY="secret_key_88002353535_161"

# client
CLIENT__BASEURL="http://localhost:3000"

# seed
SEED__PASSWORD="seed_password_161"

# rmq
RMQ__HOSTNAME="localhost"
RMQ__USERNAME="default_user"
RMQ__PASSWORD="default_password"

# if there is an error
DOTNET_USE_POLLING_FILE_WATCHER=1
